<application>
  <component name="MybatisBuilder.application.config">
    <option name="accessToken" value="eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1ODkzOTEyNDIsInN0YXRlIjoie1wicHJpbmNpcGFsXCI6XCIzY2Q3NzVjNS1kNDU4LTRhNmEtYjI2Zi02N2MzN2U3YzMzODJcIixcInNlY3JldEtleVwiOlwiMzM1NWIxOTNkNTIyNDA1YmI0MTk2NjA1ZWNiZmJkNjhcIn0ifQ.eZaiEBM6WpvZd-W5SSON8XdYUz0HV22OJ3Sn0__iQD0" />
    <option name="deviceId" value="3cd775c5-d458-4a6a-b26f-67c37e7c3382" />
    <option name="refreshToken" value="ccbae01de44e4aab9d0f63dc16b94de5" />
  </component>
</application>